 
.carousel-control-next-icon,
.carousel-control-prev-icon{
    filter: invert(1) grayscale(100);
}
 .carousel .carousel-inner .carousel-caption
{
    color: black;
}
.carousel .carousel-indicators button{
    width: 45px;
    height: 4px;
    border-radius: 10px;
    background-color: rgba(15, 189, 20, 0.457) ;
    margin: 5px;
}

.carousel .carousel-indicators button.active{
    background-color: rgb(3, 114, 7);
}       